{# {{ form_start(form, {'attr': {'id': 'signup-form', 'autocomplete':"off"}}) }} 

    <div class="signup-form-section">
      <div class="signup-form-category">
        {{ form_label(form.username, 'Pseudo',{
          'label_attr': {'class': 'signup-form-label '} }) }}
          {{ form_widget(form.username, {
          'input_attr': {'class': 'signup-form-input '} }) }}
      </div>  
    </div> 

    <button class="btn signup-form-btn">{{ button_label|default('Envoyer') }}</button>
    
{{ form_end(form) }} #}