{% extends 'base.html.twig' %}

{% block title %}Mail d'inscription{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/reset.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div style='background-color: #031634; padding: 50px; color: #cdb380; border: 25px double #cdb380; text-align: center;' id="register">
        
        <img style="margin:auto ; max-width: 50%;" src="{{ logo_src }}" alt="Logo The Hub">
        <h2 style="font-size: 1.8rem;color: #cdb380;" id="register-subtitle">Bienvenue dans THE HUB</h2>
        <h3 style="font-size: 1.4rem;color: #cdb380;" id="register-subtitle">C'est la dernière étape !</h3>
        <p style="font-size: 1rem;color: #cdb380;">{{ sender }} t'a envoyé cette invitation pour que tu puisses rejoindre la promotion {{ promotion}} .</p>
        <p style="font-size: 1rem;color: #cdb380;">Pour te permettre d'accéder au HUB tu n'as plus qu'à cliquer </p>
        <a style="padding: 0.4rem 1rem 0.4rem 1rem; background-color: #cdb380; color: black; font-weight: bold; text-decoration: none; border-radius: 0.5rem; border-bottom: .3em solid #a58a55;" href="{{ url('register', { 'code': code, 'email': email } ) }}">ICI</a>
        <p style="font-size: 1rem;color: #cdb380;">Ce lien te permettra de finaliser ton inscription.</p>
        <p style="font-size: 1rem;color: #cdb380;">A très bientôt!</p>
    </div>

{% endblock %}