{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/reset.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    
    <div id="signup">
        <img id= "login-title-logo" src=" {{ asset('images/logo_bold_jaune.png') }} ">
        <h2 id="signup-subtitle">Inscription</h2>
        {% if email == true %}
        <h3 > Bienvenue {{ email }}</h3>
        {% else %}
        <h3 > Tu as besoin d'utiliser le lien d'inscription reçu par email pour pouvoir t'inscrire! </h3>
        {% endif %}

        {{ include('security/_form.html.twig') }}
    <ul>
    {% for error in errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endblock %}