{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/reset.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    
    <div id="signup">
        <img id= "login-title-logo" src=" {{ asset('images/logo_bold_jaune.png') }} ">
        <h2 id="signup-subtitle">Inscription</h2>

        <h3 > {{ message }}</h3>


        {{ include('security/_form.html.twig') }}
    <ul>
    {% for error in errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endblock %}